<h1>Movies#index</h1>
<%= form_tag :search_movies,method: :get do %>
    <p>
       <%= text_field_tag "q",params[:q] %> 
       <%= submit_tag "検索" %>
    </p>
<% end %>
<%= will_paginate %>    
<table>
    <thead>
        <tr>
            <th>title</th>
        </tr>
    </thead>
    <tbody>
        <% @movies.each do |movie| %>
            <tr>
                <td><%= link_to image_tag(movie.poster_path, :size => "37x56"), movie_path(movie) %></td>
                <td><%= link_to movie.title, movie_path(movie) %></td>
                <% if current_user.admin? %>
                    <td><%= "/"%></td>
                    <td><%= link_to '編集', movies_edit_path(movie) %></td>
                    <td><%= "/"%></td>
                    <td><%= link_to "削除", movie,:method => :delete ,:action => "destroy",id: movie.id , data: { confirm: "レビューを削除してもよろしいですか？" }  %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate %>
