<footer class="footer">
    <small>Movie SNS by xxxx</small>
    <nav>
        <ul>
            <li><%= link_to "Home",    root_path %></li>
            <li><%= link_to "About",   about_path %></li>
            <% if signed_in? %>
                <li><%= link_to "Users",   users_path %></li>
                <li><%= link_to "Search",  search_path %></li>
                <li><%= link_to "Movies",  movies_path %></li>
            <% else %>
                <li><%= link_to "Log in",  new_user_session_path %></li>
            <% end %>
        </ul>
    </nav>
</footer>